/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

:root {
  --main-color: #00b0ff;
  --line-style: 1px solid #e0e0e0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #424242;
  padding: 1em;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
}

#nav {
  width: 20%;
  height: 100%;
  background-color: white;
  padding: 2em;
  border-right: var(--line-style);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#headpic {
  position: relative;
  width: 12vw;
  max-width: 150px;
  height: 12vw;
  max-height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #00b0ff;
}

#headimg {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#description {
  width: 100%;
}

#tab-bar {
  width: 100%;
}

#contact {
  width: 100%;
}

#tabs,
#links {
  list-style-type: none;
  padding: 0;
}

li {
  line-height: 3em;
  border-bottom: var(--line-style);
}

a {
  text-decoration: none;
  color: #424242;
  display: block;
}

a:hover {
  color: var(--main-color);
}

i {
  width: 1em;
  margin-right: 1em;
}

#contact-heading {
  color: var(--main-color);
  font-size: 0.8em;
}

#copyright {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #9e9e9e;
  margin-top: 4em;
}

#main {
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 4em;
  overflow: scroll;
}

#about {
  font-size: 2em;
  font-weight: 400;
  border-bottom: var(--line-style);
}

#about p {
  margin-top: 0;
}

strong {
  color: var(--main-color);
}

#works p {
  font-size: 2em;
}

.glitch-embed-wrap {
  margin-top: 2em;
}